nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #163b63;
  padding: 15px 30px;
}

#nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

#nav-links a {
  color: white;
  text-decoration: none;
}

#menu-toggle {
  display: none;
  font-size: 30px;
  background: white;
  border: none;
  color: white; 
  cursor: pointer;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
    color: red;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: White;
    text-align: center;
    padding: 20px 0;
  }

  #nav-links.active {
    display: flex;
  }

  #nav-links li {
    padding: 10px;
  }
}
.login-box {
    width: 350px;
    padding: 30px;

    background: white;
    border-radius: 10px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 5px;

    background: #333;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #555;
}

.password-box {
    display: flex;
    align-items: center;
}

.password-box input {
    flex: 1;
    margin-bottom: 18px;
}

.password-box button {
    width: 45px;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 18px;

    background: white;
    color: black;
    border: 1px solid #ccc;
}.login-box {
    transition: 0.3s;
}

.login-box:hover {
    transform: translateY(-5px);
}

.login-box h2 {
    font-size: 28px;
}

.login-box p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.login-box a {
    text-decoration: none;
    font-weight: bold;
}

.login-box a:hover {
    text-decoration: underline;
}

.password-box {
    position: relative;
}

.password-box input {
    padding-right: 50px;
}

.password-box button {
    position: absolute;
    right: 5px;
    top: 1px;

    width: 40px;
    height: 40px;

    border: none;
    background: transparent;

    cursor: pointer;
}
