nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #163b63;
  padding: 15px 30px;
}

#nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

#nav-links a {
  color: white;
  text-decoration: none;
}

#menu-toggle {
  display: none;
  font-size: 30px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: White;
    text-align: center;
    padding: 20px 0;
  }

  #nav-links.active {
    display: flex;
  }

  #nav-links li {
    padding: 10px;
  }
}
